@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131212;
}

.container {
    padding-left: 100px;
}
.box {
    position: relative;
    width: 420px;
    height: 430px;
    height: 660px;
    background: #070606;
    border-radius: 8px;
    overflow: hidden;
}
.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 480px;
    height: 520px;
    background: linear-gradient(0deg, transparent,#04f5fd);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}



.borderLine {
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine {
    position: absolute;
    top: 0;
    inset: 0;
}


@keyframes animate {
    100%{
        transform:rotate(250deg);
    }
}
.box form{
    position: absolute;
    inset: 4px;
    background: #0e1022;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #7d61fc;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #000000;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    transition: 0.5s;
}
.box form .inputBox input:valid + span,
.box form .inputBox input:focus + span {
    color: #304ef8;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #aaa1fc;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.2s;
    pointer-events: none;
}
.box form .inputBox input:valid~i,
.box form .inputBox input:focus~i{
    height: 44px;
}
.box form .links a{
    margin: 10px 0;
    font-size: 1em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #594dff;
}
.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #15b600;
    cursor: pointer;
    font-size: 1em;
    border-radius: 8px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

.box form input[type="submit"]:active{
    opacity: 0.8;
}

img {
    width: 50%; 
    max-width: 400px; 
    margin: 20px auto; 
    display: block; 
    border-radius: 50%;
}